var/log/*
!var/log/.gitignore
sandbox.php
sandbox.py
start.php
stop.php
tmp/*
!tmp/.gitignore
*.lock
*.pyc
*.pyo
*.sqlite
*.dat
*.cache
*.mfasl
*.rdf
*.db
etc/local/reports/*.conf
etc/local/tables/*.conf
etc/local/charts/*.conf
bin/backend/tmp/*
!bin/backend/tmp/.gitignore
